[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "==2.8.3"
django = "*"
djangorestframework = "*"
python-decouple = "*"
django-rest-auth = "*"
django-allauth = "*"
pusher = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
django-rest-api = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.7"
